<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.klepon.kkn">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logobulet"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".isiumkm.umkm6"></activity>
        <activity android:name=".isiumkm.umkm5" />
        <activity android:name=".isiumkm.umkm4" />
        <activity android:name=".isiumkm.umkm3" />
        <activity android:name=".isiumkm.umkm2" />
        <activity android:name=".isiumkm.umkm1" />
        <activity android:name=".isiwisata.wisata6" />
        <activity android:name=".isiwisata.wisata5" />
        <activity android:name=".isiwisata.wisata4" />
        <activity android:name=".isiwisata.wisata3" />
        <activity android:name=".isiwisata.wisata2" />
        <activity android:name=".isiwisata.wisata1" />
        <activity android:name=".isikuliner.kuliner6" />
        <activity android:name=".isikuliner.kuliner5" />
        <activity android:name=".isikuliner.kuliner4" />
        <activity android:name=".isikuliner.kuliner3" />
        <activity android:name=".isikuliner.kuliner2" />
        <activity android:name=".isikuliner.kuliner1" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFD4nNtVJqLzZkm-RbU6y0GxPdTwETm6c" />

        <activity android:name=".KontakActivity" />
        <activity android:name=".UmkmActivity" />
        <activity android:name=".KulinerActivity" />
        <activity android:name=".WisataActivity" />
        <activity android:name=".LetakActivity" />
        <activity android:name=".ProfileActivity" />s
        <activity android:name=".HomescreenActivity"
            />
        <activity android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>